PORT=3000

HEDERA_NETWORK=testnet
HEDERA_OPERATOR_ID=
HEDERA_OPERATOR_KEY=
HCS_TOPIC_ID=
X402_FACILITATOR_URL=

SEPOLIA_RPC_URL=
SEPOLIA_PRIVATE_KEY=

BUYER_KEY=
HUMAN_KEY=
VERIFIER_KEY=

GRAPH_API_KEY=
WORLD_APP_ID=
